body {
  margin:0px;
}

h1 {
  width:50%;
  text-align:center;
  margin:10px auto;
}


/*This is correct formatting for CSS*/

body {
  font-family:serif;
  margin:0px;
}

#back-img {
  position:fixed;
  top:0px;
  z-index:-10;
  width:100vw;
  height:100vh;
  opacity:.2;
}

p, h1, h2 {
  color:purple
}

a {color:purple}

a:hover {
  color:purple
}

ul li {
  font-style:italic
}

ol .int-link, ol p {
  font-weight:bold
}

#mail-link {
  color:purple
}


