body {
  font-family: Merriweather;
  margin: 0px;
}

.heading {
  text-align: center;
  font-family: 'Rouge Script';
  font-size: 300%;
  margin-bottom: 15px;
}

#bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.5;
}

#preheader, #header {
  background-color: #fff;
}

#preheader {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}

#preheader img {
  position: absolute;
  height: 6em;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#header {
  width: 100%;
  position: sticky;
  top: 0px;
  padding: 0px 0px 0px;
}

#links {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: center;
}

.navlink {
  display: block;
  text-decoration: none;
  text-align: center;
  color: gray;
  margin: auto;
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navlink:hover {
  color: #2f4f4f;
  background-color: #eee;
}

.navlink-spacer {
  flex-grow: 0;
  color: #2f4f4f;
  padding: 0px;
  margin: 0px;
  border: solid 1px #2f4f4f;
}

#content {
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px 15px 5px;
  background-color: rgb(255, 255, 255, 0.8);
}

hr {
  width: 50%;
  height: 2px;
  background-color: #2f4f4f;
  border: 0px;
  margin-bottom: 0px;
}

.article {
  
}

.article > p:first-letter {
  font-size: xx-large;
}

.art-pic {
  float: right;
  padding: 10px;
  width: 30%;
  border: solid 1px #2f4f4f;
  text-align: center;
  font-style: italic;
  font-size: 75%;
  margin: 10px;
}

.art-pic img {
  width: 100%;
}

br {
  display: block;
  content: "";
  margin-top: 2em;
}

#footer {
  font-size: 75%;
  width: 100%;
  background-color:#2f4f4f;
  color: #eee;
  margin: 0px;
}

#footer {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

#publish-info {
  flex-grow: 1;
  text-align: right;
  padding-right: 10%;
}

#address {
  flex-grow: 1;
  text-align: left;
  padding-left: 10%;
}

.vertical-bar {
  border: solid 1px #eee;
  height: 5lh;
  flex-grow: 0;
}

#address a {
  color: #eee;
}

#footer p, #footer br {
  margin: 0px;
}
